In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
x=df.iloc[:,3:-1]
y=df.iloc[:,-1].values

In [4]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [5]:
y

array([1, 0, 1, ..., 1, 1, 0])

In [9]:
x.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary'],
      dtype='object')

In [6]:
print(x['Geography'].value_counts())
print(x['Gender'].value_counts())
print(x['NumOfProducts'].value_counts())
print(x['HasCrCard'].value_counts())
print(x['IsActiveMember'].value_counts())

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64
Male      5457
Female    4543
Name: Gender, dtype: int64
1    5084
2    4590
3     266
4      60
Name: NumOfProducts, dtype: int64
1    7055
0    2945
Name: HasCrCard, dtype: int64
1    5151
0    4849
Name: IsActiveMember, dtype: int64

In [7]:
x.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000

In [8]:
x.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [10]:
x.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
dtype: object

In [11]:
x=pd.get_dummies(x,drop_first=True)
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

#Splitting Dataset

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.20, stratify=y, random_state=0)

In [19]:
print(x_train)

      CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
493           531   47       6       0.00              1          0
6839          724   36       6   94615.11              2          1
170           484   29       4  130114.39              1          1
4958          655   37       6  109093.41              2          1
4271          465   33       5       0.00              2          0
...           ...  ...     ...        ...            ...        ...
6727          745   36       9       0.00              1          1
4674          850   41       1  176958.46              2          0
6399          601   48       9  163630.76              1          0
872           722   35       2  163943.89              2          1
8389          743   25       6       0.00              2          1

      IsActiveMember  EstimatedSalary  Geography_Germany  Geography_Spain  \
493                0        194998.34                  0                0
6839               1         10627.21                  1                0
170                0        164017.89                  0                0
4958               0          1775.52                  0                0
4271               1         78698.09                  0                0
...              ...              ...                ...              ...
6727               0         19605.18                  0                0
4674               1        125806.30                  1                0
6399               1         41816.49                  1                0
872                1         15068.18                  0                0
8389               0        129740.11                  0                1

      Gender_Male
493             0
6839            1
170             0
4958            1
4271            1
...           ...
6727            0
4674            1
6399            1
872             0
8389            1

[8000 rows x 11 columns]

In [22]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [23]:
print(x_train)

[[-1.24021723  0.77986083  0.35390313 ... -0.57812007 -0.57504086
  -1.09665089]
 [ 0.75974873 -0.27382717  0.35390313 ...  1.72974448 -0.57504086
   0.91186722]
 [-1.72725557 -0.9443559  -0.3390904  ... -0.57812007 -0.57504086
  -1.09665089]
 ...
 [-0.51484098  0.87565065  1.39339343 ...  1.72974448 -0.57504086
   0.91186722]
 [ 0.73902369 -0.36961699 -1.03208393 ... -0.57812007 -0.57504086
  -1.09665089]
 [ 0.95663657 -1.32751517  0.35390313 ... -0.57812007  1.73900686
   0.91186722]]

#Model Building

In [24]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=100)
rf.fit(x_train, y_train)

RandomForestClassifier()

In [25]:
y_pred=rf.predict(x_test)

In [26]:
from sklearn.metrics import accuracy_score, confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[1535   58]
 [ 223  184]]

In [27]:
print(accuracy_score(y_test,y_pred))

0.8595